Repository ki7ick/ki-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: lint & pretiier commit
  .husky/commit-msg
  .lintstagedrc
  README.md
  package.json
  packages/core/rollup.config.mjs
  packages/demo/index.html
  pnpm-lock.yaml
Due: none

refactor: use tsconfig.base
  packages/core/tsconfig.json
  packages/demo/tsconfig.json
  tsconfig.base.json
Due: prettier --write

chore: support jest
  packages/core/jest.config.mjs
  packages/core/package.json
  packages/core/src/editor/__tests__/index.test.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: use sass
  README.md
  packages/core/README.md
  packages/core/package.json
  packages/core/rollup.config.mjs
  packages/core/src/editor/index.module.css
  packages/core/src/editor/index.tsx
  packages/core/src/global.scss
  packages/core/src/index.tsx
  packages/demo/src/App.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: complete editor
  packages/core/package.json
  packages/core/src/context.ts
  packages/core/src/editor/__tests__/index.test.tsx
  packages/core/src/editor/index.tsx
  packages/core/src/editor/toolbar.tsx
  packages/core/src/editor/viewer.tsx
  packages/core/src/editor/wrapper.tsx
  packages/core/src/editor/writting.tsx
  packages/core/src/engine.ts
  packages/core/src/global.scss
  packages/core/src/hooks/useEngine.ts
  packages/core/src/hooks/usePrefix.ts
  packages/core/src/types/css.d.ts
  packages/core/src/types/editor.ts
  packages/core/src/types/editor.type.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/clsx.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

style: use lf replace crlf
  .gitattributes
  packages/core/jest.config.mjs
  packages/core/src/editor/toolbar.tsx
  packages/core/src/editor/viewer.tsx
  packages/core/src/editor/wrapper.tsx
  packages/core/src/editor/writting.tsx
  packages/core/src/engine.ts
  packages/core/src/hooks/useEngine.ts
  packages/core/src/hooks/usePrefix.ts
Due: eslint --fix, prettier --write

chore: husky
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: editor develop
  packages/core/src/context.ts
  packages/core/src/editor/index.tsx
  packages/core/src/editor/viewer.tsx
  packages/core/src/editor/writting.tsx
  packages/core/src/engine.ts
  packages/core/src/global.scss
  packages/core/src/types/editor.type.ts
Due: eslint --fix, prettier --write

chore: use dart-sass for modern
  packages/core/package.json
  packages/core/rollup.config.mjs
  pnpm-lock.yaml
Due: prettier --write

feat: editor develop
  packages/core/package.json
  packages/core/src/components/index.tsx
  packages/core/src/components/tooltip.tsx
  packages/core/src/editor/toolbar.tsx
  packages/core/src/global.scss
  packages/core/src/icons/index.tsx
  packages/core/src/icons/leftExpand.tsx
  packages/core/src/icons/rightExpand.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: packages/**/*.{ts,tsx}
  prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: packages/**/*.{css,json,md})
